<nav style="background:#1f52a5; padding:0.5rem 0; text-align:center;"> 
  <a href="{{ "/" | relative_url }}" style="color:#fefefe; margin:0 1rem; text-decoration:none; font-weight:bold;">Home</a>
  <a href="{{ "/about/" | relative_url }}" style="color:#fefefe; margin:0 1rem; text-decoration:none; font-weight:bold;">About Us</a>
  <a href="{{ "/products/" | relative_url }}" style="color:#fefefe; margin:0 1rem; text-decoration:none; font-weight:bold;">Products</a>
  <a href="{{ "/testimonials/" | relative_url }}" style="color:#fefefe; margin:0 1rem; text-decoration:none; font-weight:bold;">Testimonials</a>
  <a href="{{ "/contact/" | relative_url }}" style="color:#fefefe; margin:0 1rem; text-decoration:none; font-weight:bold;">Contact Us</a>
</nav>
